h1 {
  color: black;
  text-transform: capitalize;
  letter-spacing: -3px;
  font-weight: bold;
}

a {
  color:white !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  padding-top: 40px;
}

.App-header {
  background-color: #FFFFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.Chapter-Button {
  align-items: center !important;
  display: flex;
  flex-direction: column !important;
  justify-content: center !important;
}
